@page "/skj429"
<h3>Skj429</h3>


<div class="cross-layout">
        <button class="btn position-top oi oi-arrow-circle-top" @onclick="IncrementCount"></button>
        <button class="btn position-left oi oi-arrow-circle-left" @onclick="IncrementCount"></button>
        <button class="btn position-righat oi oi-arrow-circle-right" @onclick="IncrementCount"></button>
        <button class="btn position-bottom oi oi-arrow-circle-bottom" @onclick="IncrementCount"></button>

</div>

@code {
    // private int currentCount = 0;

    private void IncrementCount()
    {
        // currentCount++;
    }
}
